/*
    Flower banner by Arham Jain 
    https://unsplash.com/photos/OkiDTYxLo34
*/

/* Banner specifications */
.banner {
    width: 100vw;
    height: 15vh;
    background: url("../images/Flower.jpg") no-repeat;
    background-size: cover;
}