@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS of HTML body */
body {
    margin: 0em;
    margin-top: 0em;
    padding: 0em;
    /* background-color: #FEE4EB; */
    background-color: #FFFCD9;
}

/* Headings */
.title-name {
    text-align: center;
    color: #0B1E36;
    font-family: 'Helvetica', sans-serif;
    font-weight: 900;
    font-size: calc(1em + 2.2vw);
}

.projects-title{
    text-align: left;
    color: #0B1E36;
    font-family: 'Helvetica', sans-serif;
    font-weight: 900;
    font-size: calc(1em + 1.5vw);
}

.projects-subtitle {
    text-align: left;
    color: #0B1E36;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: calc(0.65em + 1.2vw);

}

.flowers-title {
    text-align: center;
    font-size: calc(1em + 1.5vw);
}

.in-betweens {
    display: block;
    margin: 0.2em;
}

/* Text content spacing (e.g., <p> tags) */
#content {
    padding: 3em;
    display: flex;
    height: 50vh;
    width: 80vw;
}

/* Text content font style (e.g., <p> tags) */
.text-content {
    color: #0B1E36;
    font-family: 'Raleway', sans-serif;
    font-size: calc(1em + 0.4vw);
    text-align: justify;
}

/* Image of student is 100% */
#mirella {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.whole-content {
    padding: 2em;
    display: flex;
    flex-direction: column;
}

/* Right content containing text */
.right-content {
    flex: 50%;
    /* overflow-y: scroll; */
    padding-left: 5%;
}

/* Styling for scientific name */
.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

/* Introduction to projects heading */
.intro-projects {
    margin: auto;
    text-align: center;
}

/* When width is less than or equal to 650px, make the two-column format to one-column */
@media only screen and (max-width: 650px) {
    #content{
        display: grid;
        row-gap: 20vh;
        grid-template-rows: 70vh;
        margin-bottom: 70em;
        width: 80vw;
    }
    .extra-content {
        display: none;
    }
    .extra-content-res {
        display: flex;
    }
    .right-content{
        overflow-y: visible;
        overflow-x: visible;
        padding-left: 0%;
    }
    #mirella {
        display: flex;
        width: 80vw;
    }

}